.search-btn {
    border: 2px solid black;
    background: none;
}
.sign-in-btn {
    background-color: rgb(179, 216, 235);
}
:host::ng-deep {
    .p-tag {
        color: #ffffff;
        padding: 10px;
        border-radius: 50%;
        background: #C4C4C4;
    }
    .p-inputtext {
        background: rgb(126, 165, 186);
        border-radius: 8.4px;
        height: 48px;
    }
}
