<div class="background-container pb-8" style="background: rgb(160, 206, 230
);">

	<div class="button-container">
		<div class="flex justify-content-between align-items-center">

			<div>
				<div>
					<img class="pl-5"
						src="../assets/left-main.png"
						alt="Image">
				</div>
			</div>

			<div>
				<div class="flex justify-content-center">
					<div style="padding-right: 100px;">
						<button class="button"
							class="main-btn">
							Find a Coach
						</button>
					</div>
					<div>
						<button class="button"
							class="main-btn sign-in-btn">
							Sign in
						</button>
					</div>
				</div>
			</div>
		</div>

	

		<div class="flex  mt-8">
			<div class="flex justify-content-between">
				
				<div style="background:rgb(143, 182, 206);" class="col-8">
					<div class="p-4 flex flex-column gap-3">
						
						<div class="flex justify-content-center">
							<h1 style=" ">Sign up</h1>
						</div>

                        <div class="text-center">
                            Already have an account??<span class="ml-2"><a (click)="navigateToLogin()"  style="color: #D83232; text-decoration: none; cursor: pointer;">Log in.</a></span>
                        </div>

                        <div style="color: black;" class="text-center">or continue with</div>

						<form [formGroup]="registrationForm">
						<div class="flex flex-column gap-2">
							<label for="username"
								>
								Full name
							</label>
							<input pInputText
								id="username"
								formControlName="username"
								placeholder="Full name"
								aria-describedby="username-help">

						</div>
                        <div class="flex flex-column gap-2">
							<label for="username"
								>
								Email
							</label>
							<input pInputText
								id="username"
								formControlName="email"
								placeholder="name@example.com"
								aria-describedby="username-help">

						</div>
                        <div class="flex flex-column gap-2">
							<label for="username"
							>
								Password
							</label>
							<input pInputText
								id="username"
								formControlName="password"
								type="password"
								placeholder="Password"
								aria-describedby="username-help">

						</div>
						<div class="flex flex-column gap-2">
							<div class="flex justify-content-between">
								<label for="username"
								>
								Role
								</label>
							</div>
							<!-- <p-password  [toggleMask]="true"></p-password> -->
							<input pInputText
								id="username"
								type="text"
								formControlName="role"
								placeholder="Role"
								aria-describedby="username-help">
						</div>
						<button class="button" style="width: 100%;"
							class="main-btn mt-3" (click)="onSubmit()">
							Sign up 
						</button>
					</form>

					</div>
				</div>
				<div>
					<img src="../assets/card-align-pic.png"
						alt="Background Image">
				</div>
			</div>
		</div>

	</div>
</div>

<div class>
	<app-footer></app-footer>
</div>
