<div class="background-container">
    <img src="../assets/main.svg" alt="Background Image" class="background-image">
    <div class="button-container">
      <div class="flex justify-content-between align-items-center">
    
       <div>
        <div><img class="pl-5" src="../assets/left-main.png" alt="Image"></div>
       </div>
       
         <div>
          <div class="flex justify-content-center">
          <div  style="padding-right: 100px;">
            <button class="button" class="main-btn" (click)="navigateToTutor()">Find a Coach</button>
           </div>
           <div>
            <button class="button" class="main-btn" (click)="navigate()">Sign in</button>
            <button class="button" class="main-btn" (click)="navigateToSignUp()">Become a member</button>
           </div>
          </div>
         </div>
  
         <!-- <div>
          <div class="flex justify-content-center">
          <div  style="padding-right: 100px;">
              <a href="" style="text-decoration: none; color: white;">Coach dashboard</a>
           </div>
  
           <div class="pr-3">
          
            <i class="pi pi-envelope text-white pr-3" ></i>
            <i class="pi pi-cog text-white"></i>
           </div>
  
           <div class="flex gap-3">
            <a href="" style="text-decoration: none; color: white;">Coach dashboard</a>
            <a href="" style="text-decoration: none; color: white;">Become a member</a>
           </div>
          </div>
         </div> -->
           
      </div>
  
      <div class="grid pt-7">
        <div class="col-4 pl-5" style="font-size: xxx-large;
        color: white; 
        font-family: open sans;
        font-weight: bold;">
          INCREASE YOUR EDGE
    </div>
      </div>
  
      <div class="pt-3">
        <input type="text" pInputText  placeholder="cash or Tourney? Find a coach" style="width: 499px;
        height: 40px;
    "/>
      </div>
    </div>
  </div>
  
  <div style="background-color: #A0CEE6;">
    <div class="flex justify-content-center align-items-center p-8">
      <div class="col-9" style="font-size: 40px;
      font-weight: 600;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
      </div>
    </div>
  
  
    <div class="grid p-8">
     <div class="sm:col-6 md:col-3 col-12">
      <button class="button" class="main-btn w-9" >Lorem ipsum</button>
     </div>
     <div class="sm:col-6 md:col-3 col-12">
      <button class="button" class="main-btn  w-9" >Lorem ipsum</button>
     </div>
     <div class="sm:col-6 md:col-3 col-12">
      <button class="button" class="main-btn  w-9" >Lorem ipsum</button>
     </div>
     <div class="sm:col-6 md:col-3 col-12">
      <button class="button" class="main-btn  w-9" >Lorem ipsum</button>
     </div>
    </div>
  
    <div class="grid">
      <div class="col-6  pl-8">
        <div><img src="../assets/middle.svg" alt="Image"></div>
       </div>
       <div class="col-6  pl-8" >
        <div class="flex flex-column gap-3" style="padding-top: 30%;">
          <div style="font-size: 20px; font-weight: 700;" >Lorem ipsum</div>
          <div style="font-size: 40px; font-weight: 500;">Lorem ipsum dolor.</div>
          <div style=" font-size: 24px; font-weight: 600;" class="" >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</div>
  
          <div>
            <button class="button" class="main-btn" >Explore more</button>
           </div>
        </div>
       </div>
    </div>
  </div>
  <div class="pt-7" style="background-color: #A0CEE6;">
    <app-footer></app-footer>
  </div>