<div style="background-color: black;">
    <div class="p-8">
        <div class="grid">
            <div class="col-6 pl-5">
                <div><img class="" src="../assets/left-main.png" alt="Image"></div>
                <div class="col-6 pt-6">
                    <div style="color: #A0CEE6;">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua.
                    </div>
                </div>
                <div  style="color: #A0CEE6;" class="pl-1 pt-2">All rights reserved.</div>
            </div>

            <div class="flex col-6">
                <div class="col-4">
                    <div class="flex flex-column gap-3" style="color: #A0CEE6;">
                        <div  style="color: #A0CEE6; font-weight: 600;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="flex flex-column gap-3" style="color: #A0CEE6;">
                        <div  style="color: #A0CEE6; font-weight: 600;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="flex flex-column gap-3" style="color: #A0CEE6;">
                        <div  style="color: #A0CEE6; font-weight: 600;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                        <div  style="color: #A0CEE6;">Lorem ipsum</div>
                    </div>
                </div>
           
            </div>
        </div>
      
    </div>
</div>