<div class="background-container pb-8"
	style="background: rgb(160, 206, 230
);">

	<div class="button-container">
		<div class="flex justify-content-between align-items-center">

			<div>
				<div>
					<img class="pl-5"
						src="../assets/left-main.png"
						alt="Image">
				</div>
			</div>

			<div>
				<!-- <div class="flex justify-content-between align-items-center gap-4">
                    <i class="pi pi-envelope"></i>
                    <i class="pi pi-cog"></i>
                    <img src="../assets/card-align-pic.png" style="width: 104px;
                    height: 104px;
                    border-radius: 50%;" />
				</div> -->

				<div class="flex justify-content-center align-items-center">
					<div style="padding-right: 100px;">
						<button class="button"
							class="main-btn search-btn">
							Search
						</button>
					</div>

					<div style="padding-right: 50px;">
						<button class="button"
							class="main-btn sign-in-btn">
							Sign in
						</button>
					</div>

					<div>
						<button class="button"
							class="main-btn">
							Become a member
						</button>
					</div>
				</div>
			</div>
		</div>

		<div class="p-5 mt-4">

			<div class="p-5"
				style="background-color: rgb(143, 184, 206); border-radius: 10px;">
				<div class="flex">

					<div class="col-5">
						<div class="text-4xl font-bold">Forget password</div>

						<div class="mt-4">Password rules:</div>
						<div class="flex gap-3 align-items-center mt-3 ">
							<div class="mb-1">
								<p-tag></p-tag>
							</div>

							<div>
								8 characters minimum
							</div>
						</div>

						<div class="flex gap-3 align-items-center ">
							<div class="mb-1">
								<p-tag></p-tag>
							</div>

							<div>
								Must include a number 0-9 and letter a-z
							</div>
						</div>

					</div>

					<div class="col-2">
						<p-divider [layout]="'vertical'"></p-divider>
					</div>

					<div class="p-4 flex flex-column gap-3 col-5">
						<form [formGroup]="changePasswordForm"
							>
							<div class="flex flex-column gap-2">
								<label for="username">Email</label>
								<input pInputText
									id="username"
                                    formControlName="email"
									placeholder="Email"
									aria-describedby="username-help">
							</div>
						</form>
						<button class="button"
							class="main-btn mt-3" (click)="submitChangePassword()">
							Save
						</button>

					</div>

				</div>
			</div>

		</div>
	</div>

</div>

<div class>
	<app-footer></app-footer>
</div>
