<div class="background-container pb-8" style="background: rgb(160, 206, 230
);">

	<div class="button-container">
		<div class="flex justify-content-between align-items-center">

			<div>
				<div>
					<img class="pl-5"
						src="../assets/left-main.png"
						alt="Image">
				</div>
			</div>

			<div>
				<div class="flex justify-content-between align-items-center gap-4">
                    <i class="pi pi-envelope"></i>
                    <i class="pi pi-cog"></i>
                    <img src="../assets/card-align-pic.png" style="width: 104px;
                    height: 104px;
                    border-radius: 50%;" />
				</div>
			</div>
		</div>
       
        <div class="flex justify-content-center">
            <div class="flex flex-column mt-4">
                <h1 style="color: #FF4D4D;">Welcome!</h1>
                <div>View your orders here</div>
             </div>
        </div>
        <div class="mt-6" style="background: rgb(143, 184, 206);    padding: 30px;
        border-radius: 10px;">


      

        <div class="flex justify-content-between">
        <div class="text-xl"><b>Active orders</b> - Lorem ipsum ($50)</div>
        </div>

        <div class="flex justify-content-between align-items-center mt-4">
            <img src="../assets/card-align-pic.png" style="width: 80px;
            height: 80px;
            border-radius: 50%;" />

            <div><b>Lorem ipsum</b></div>
            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order total</div>
                <div>$50</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Age</div>
                <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Status</div>
                <div>In Progress</div>
            </div>

            <div >
                <button class="button"
                    class="main-btn">
                    View
                </button>
            </div>
        </div>

        <div class="flex justify-content-between align-items-center mt-4">
            <img src="../assets/card-align-pic.png" style="width: 80px;
            height: 80px;
            border-radius: 50%;" />

            <div><b>Lorem ipsum</b></div>
            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order total</div>
                <div>$50</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Age</div>
                <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Status</div>
                <div>In Progress</div>
            </div>

            <div >
                <button class="button"
                    class="main-btn">
                    View
                </button>
            </div>
        </div>

        <div class="flex justify-content-between align-items-center mt-4">
            <img src="../assets/card-align-pic.png" style="width: 80px;
            height: 80px;
            border-radius: 50%;" />

            <div><b>Lorem ipsum</b></div>
            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order total</div>
                <div>$50</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Age</div>
                <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
            </div>

            <div class="flex flex-column">
                <div style="color: #FF4D4D;">Order Status</div>
                <div>In Progress</div>
            </div>

            <div >
                <button class="button"
                    class="main-btn">
                    View
                </button>
            </div>
        </div>
    </div>


    <div class="mt-2" style="background: rgb(143, 184, 206);    padding: 30px;
    border-radius: 10px;">


  

    <div class="flex justify-content-between">
    <div class="text-xl"><b>Past orders</b> - Lorem ipsum ($50)</div>
    </div>

    <div class="flex justify-content-between align-items-center mt-4">
        <img src="../assets/card-align-pic.png" style="width: 80px;
        height: 80px;
        border-radius: 50%;" />

        <div><b>Lorem ipsum</b></div>
        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order total</div>
            <div>$50</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Age</div>
            <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Status</div>
            <div>In Progress</div>
        </div>

        <div >
            <button class="button"
                class="main-btn">
                View
            </button>
        </div>
    </div>

    <div class="flex justify-content-between align-items-center mt-4">
        <img src="../assets/card-align-pic.png" style="width: 80px;
        height: 80px;
        border-radius: 50%;" />

        <div><b>Lorem ipsum</b></div>
        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order total</div>
            <div>$50</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Age</div>
            <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Status</div>
            <div>In Progress</div>
        </div>

        <div >
            <button class="button"
                class="main-btn">
                View
            </button>
        </div>
    </div>

    <div class="flex justify-content-between align-items-center mt-4">
        <img src="../assets/card-align-pic.png" style="width: 80px;
        height: 80px;
        border-radius: 50%;" />

        <div><b>Lorem ipsum</b></div>
        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order total</div>
            <div>$50</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Age</div>
            <div><i class="pi pi-stopwatch"></i> 1d, 2h</div>
        </div>

        <div class="flex flex-column">
            <div style="color: #FF4D4D;">Order Status</div>
            <div>In Progress</div>
        </div>

        <div >
            <button class="button"
                class="main-btn">
                View
            </button>
        </div>
    </div>
</div>
        

	</div>
</div>

<div class>
	<app-footer></app-footer>
</div>
